.cart{
    background-color: var(--dark-background);
    color: var(--light-text);
    display: flex;
    flex-direction: column;
}
.main{
    min-height: 82vh;
}
.loader{
    min-height: 82vh;
}
.heading{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 26px;
    font-weight: 600;
}
.body{
    display: flex;
    margin: 0 10%;
}
.cartList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.checkout{
    width: 40%;
    background-color: var(--light-background);
    margin: 10px;
    height: 300px;
    padding: 20px;
    margin-bottom: 2rem;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.delivery{
    padding-bottom: 20px;
    border-bottom: 2px solid var(--dark-text);
}
.netAmount{
    margin-top: 20px;
}
.button{
    border: none;
    display: flex;
    margin: 20px auto;
    background-color: var(--button);
    padding: 12px 20px;
    color: var(--button-text);
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
}

@media only screen and (max-width: 800px) {
    .body{
        flex-direction: column;
    }
    .heading{
        padding: 10px;
    }
    .cartList{
        width: 100%;
    }
    .checkout{
        width: 100%;
        margin: 2rem auto;
        
    }
}